name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    uses: ./.github/workflows/build.yml
  test:
    needs: build
    uses: ./.github/workflows/test_samples.yml
    with: 
      artifact_name: ${{needs.build.outputs.artifact_name}}


