name: Publish NPM

on:
  workflow_dispatch:

jobs:
  validate-version:
    outputs:
      version: ${{steps.split-version.outputs._1}}
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
    - uses: tj-actions/branch-names@v8
      id: branch-names
      
    - run: echo "${{ steps.branch-names.outputs.current_branch }}"
    - name: assert release branch
      if: startsWith(steps.branch-names.outputs.current_branch, 'release/') != true
      run : exit 1

    - name: get version number
      id: split-version
      uses: xom9ikk/split@v1
      with:
        string: ${{steps.branch-names.outputs.current_branch}}
        separator: /
        limit: 2
    
    - run: echo "${{ steps.split-version.outputs._1 }}"
    
    - uses: actions-ecosystem/action-regex-match@v2
      id: regex-match
      with:
        text: ${{ steps.split-version.outputs._1 }}
        regex: '^\d*\.\d*\.\d*$'
        flags: gm
    
    - name: assert valid version
      if: steps.regex-match.outputs.match == ''
      run: exit 1
        

  build:
    needs: validate-version
    uses: ./.github/workflows/build.yml

  publish_npm:
    needs: [build, validate-version]
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - uses: actions/download-artifact@v4
        with:
          name: ${{needs.build.outputs.artifact_name}}
          path: ./
      - run: ls -r
  
      - name: Make public
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: private
          value: false

      - name: Set Version
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: version
          value: "${{ needs.validate-version.outputs.version }}"

      - name: Publish to NPM    
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}