name: Publish NPM

on:
  workflow_dispatch:

jobs:
  validate-version:
    outputs:
      version: ${{steps.version.outputs.version}}
    runs-on: ubuntu-latest
    steps:
    - uses: tj-actions/branch-names@v8
      id: branch-names
      
    - uses: ./.github/workflows/version.yml
      id: version
      with:
        version: ${{steps.branch-names.outputs.current_branch}}
        

  build:
    needs: validate-version
    uses: ./.github/workflows/build.yml

  publish_npm:
    needs: [build, validate-version]
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - uses: actions/download-artifact@v4
        with:
          name: ${{needs.build.outputs.artifact_name}}
          path: ./
      - run: ls -r
  
      - name: Make public
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: private
          value: false

      - name: Set Version
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: version
          value: "${{ needs.validate-version.outputs.version }}"

      - name: Publish to NPM    
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}