name: Publish NPM

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish_npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: tj-actions/branch-names@v8
        id: branch-names
      
      - name: assert release branch
        if: startsWith(steps.branch-names.outputs.current_branch, '/release') != false
        run : exit 1

      - name: get version number
        id: version
        uses: xom9ikk/split@v1
        with:
          string: ${{steps.branch-names.outcome.current_branch}}
          separator: /
          limit: 2
      
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ steps.version.outputs._1 }}
          regex: '^\d*\.\d*\.\d*$'
          flags: gm
      
      - name: assert valid version
        if: steps.regex-match.outputs.match == ''
        run: exit 1

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - uses: actions/download-artifact@v4
        with:
          name: ${{needs.build.outputs.artifact_name}}
          path: ./
      - run: ls -r
  
      - name: Make public
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: private
          value: false

      - name: Set Version
        uses: jossef/action-set-json-field@v2.1
        with:
          file: package.json
          field: version
          value: "${{ steps.version.outputs._1 }}"

      - name: Publish to NPM    
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}